@import 'normalize.css';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {  
  height: 100vh;
  font-family: "Cabin", sans-serif;
  line-height: 1.4;
}

html, body {
  background-color: whitesmoke;
}

/*** Header style***/
.title {
  display: inline-block;
  color: #F5F5F5;
  font-size: 35px;
  font-family: 'Bebas Neue', cursive;
  border-bottom: 0.2px solid black;  
  margin: 0;
  line-height: 1.5;
  color: seagreen;
}

header {
  text-align: center;
  margin: 20px;
}

/*** CONTAINER STYLES ***/

.container {
  height: 90vh;
  width: 80%;
  max-width: 800px;
  max-height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;  
  align-items: center;
  background-color: #2E2467;
  color: whitesmoke;
}

.subscription-select, .duration-select {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
}

label {
  font-size: 30px;
}

select {
  width: 100%;
}

select#subscription,
select#months {
  padding: 17px;
}

.selections {
  width: 100%;
  max-width: 700px;
}

.congrats {
  width: 80%;
  text-align: center;
  padding: 15px 1px;
  margin: 20px 1px;
  font-size: 20px;
  border: 4px solid grey;
}

@media(min-width: 500px){
  .title {
    font-size: 45px;
  }

  .congrats {
    font-size: 25px;
  }
}